body {

    background: url('/img/wallpaper/wallpaper.gif');
    background-size: 100%;
    background-position-y: 18%;

}


.containerAll {

    display: flex;
    justify-content: center;

}

.containerItem {

    margin-top: 3em;
    border: 2px solid white;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 3em;
    padding: 20px;
    background-color: black;
}

@media only screen and (width: 400px) {
    .containerItem {

        width: 90%;
      

    }

    .gameTitle {

        font-size: 11px !important;

    }

    p {

        font-size: 12px !important;

    }
  }

  @media only screen and (width: 554px) {
    .containerItem {

        width: 90%;
      

    }

    .gameTitle {

        font-size: 15px !important;

    }

    p {

        font-size: 15px !important;

    }
  }

  @media only screen and (width: 768px) {
    .containerItem {

        width: 90%;
      

    }

    .gameTitle {

        font-size: 20px;

    }

    p {

        font-size: 15px !important;

    }
  }

.status {

    color: green;
    margin-left: 0.5em;
}


@media only screen and (width: 425px) {
    .containerItem {

        width: 90%;
      

    }

    .gameTitle {

        font-size: 11px !important;

    }

    p {

        font-size: 10px !important;

    }
  }

  
@media only screen and (width: 375px) {
    .containerItem {

        width: 90%;
      

    }

    .gameTitle { 

        font-size: 11px !important;

    }

    p {

        font-size: 10px !important;

    }
  }

  @media only screen and (width: 320px) {
    .containerItem {

        width: 90%;
      

    }

    .gameTitle {

        font-size: 9px !important;

    }

    p {

        font-size: 10px !important;

    }
  }




.status {

    color: green;

}



.gameTitle {

    font-weight: 900;
    font-size: 25px;
    color: red;
    text-shadow: 2px 2px 2px purple;
    margin-bottom: 0.5em;

}

p {

    font-size: 25px;
    color: red;
    text-shadow: 2px 2px 2px purple;

}



body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
background-color: black;
border: 1px solid white;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid slategrey;
  }